In [1]:
5 in [1,2,3,4]

False

In [2]:
2 in [1,2,3,4]

True

In [3]:
"p" in "python"

True

In [4]:
"s" in "python"

False

In [5]:
not 4 in (1,2,3)

True

In [6]:
liste = [1,2,3,4,5,6,7]
for eleman in liste:
    print(eleman)

1
2
3
4
5
6
7

In [8]:
toplam = 0
liste = [1,2,3,4,5,6,7]
for eleman in liste:
    toplam += eleman
    print("Toplam: {} Eleman: {}".format(toplam, eleman))
print(toplam)

Toplam: 1 Eleman: 1
Toplam: 3 Eleman: 2
Toplam: 6 Eleman: 3
Toplam: 10 Eleman: 4
Toplam: 15 Eleman: 5
Toplam: 21 Eleman: 6
Toplam: 28 Eleman: 7
28

In [9]:
54 % 2

0

In [10]:
liste = [1,2,3,4,34,54,63,78]
for eleman in liste:
    if eleman % 2 == 0:
        print(eleman)

2
4
34
54
78

In [11]:
s = "Python"
for i in s:
    print(i)

P
y
t
h
o
n

In [12]:
s = "Python"
for i in s:
    print(i * 3)

PPP
yyy
ttt
hhh
ooo
nnn

In [13]:
demet = (1,2,3,4,5)
for a in demet:
    print(a)

1
2
3
4
5

In [14]:
liste = [(1,2),(3,4),(5,6),(7,8)]
for eleman in liste:
    print(eleman)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [17]:
liste = [(1,2),(3,4),(5,6),(7,8)]
for (i,j) in liste:
    print("i: {} j: {}".format(i,j))

i: 1 j: 2
i: 3 j: 4
i: 5 j: 6
i: 7 j: 8

In [18]:
liste = [(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
for (i,j,k) in liste:
    print("i: {} j: {} k: {}".format(i,j,k))

i: 1 j: 2 k: 3
i: 3 j: 4 k: 5
i: 5 j: 6 k: 7
i: 7 j: 8 k: 9

In [19]:
liste = [(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
for (i,j,k) in liste:
    print(i * j * k)

6
60
210
504

In [20]:
sözlük = {"bir":1,"iki":2,"üç":3,"dört":4}

In [21]:
for eleman in sözlük:
    print(eleman)

bir
iki
üç
dört

In [22]:
for eleman in sözlük.values():
    print(eleman)

1
2
3
4

In [23]:
for eleman in sözlük.items():
    print(eleman)

('bir', 1)
('iki', 2)
('üç', 3)
('dört', 4)

In [25]:
for (i,j) in sözlük.items():
    print("Anahtar: {} Değer: {}".format(i,j))

Anahtar: bir Değer: 1
Anahtar: iki Değer: 2
Anahtar: üç Değer: 3
Anahtar: dört Değer: 4